In [23]:



import pandas as pd

df1 = pd.DataFrame({'name': pd.Series(["A", "B", "C"]), 'value': pd.Series([1., 2., 3.])})
df2 = pd.DataFrame({'name': pd.Series(["ew", "C", "D"]), 'value': pd.Series([1., 3., 5.])})

In [24]:
df1.join(df2, how='outer', rsuffix='_other')

  name  value name_other  value_other
0    A    1.0         ew          1.0
1    B    2.0          C          3.0
2    C    3.0          D          5.0

In [25]:
df1.join(df2, how='inner', rsuffix='_other')

  name  value name_other  value_other
0    A    1.0         ew          1.0
1    B    2.0          C          3.0
2    C    3.0          D          5.0

In [26]:
df3 = df1.set_index('name', inplace=True)
df4 = df2.set_index('name', inplace=True)

In [27]:
df1.join(df2, how='outer', rsuffix='_other')

      value  value_other
name
A       1.0          NaN
B       2.0          NaN
C       3.0          3.0
D       NaN          5.0
ew      NaN          1.0

In [28]:
df1.join(df2, how='inner', rsuffix='_other')

      value  value_other
name
C       3.0          3.0