In [7]:



import pandas as pd

df1 = pd.DataFrame({'name': pd.Series(["A", "B", "C"]), 'value': pd.Series([1., 2., 3.])})
df2 = pd.DataFrame({'name': pd.Series(["ew", "C", "D"]), 'value': pd.Series([1., 3., 5.])})

In [8]:
df1.join(df2, how='outer', rsuffix='_other')

  name  value name_other  value_other
0    A    1.0         ew          1.0
1    B    2.0          C          3.0
2    C    3.0          D          5.0

  name  value name_other  value_other
0    A    1.0         ew          1.0
1    B    2.0          C          3.0
2    C    3.0          D          5.0

In [9]:
df1.join(df2, how='inner', rsuffix='_other')

  name  value name_other  value_other
0    A    1.0         ew          1.0
1    B    2.0          C          3.0
2    C    3.0          D          5.0

  name  value name_other  value_other
0    A    1.0         ew          1.0
1    B    2.0          C          3.0
2    C    3.0          D          5.0

In [10]:
df3 = df1.set_index('name', inplace=True)
df4 = df2.set_index('name', inplace=True)

In [11]:
df1.join(df2, how='outer', rsuffix='_other')

      value  value_other
name
A       1.0          NaN
B       2.0          NaN
C       3.0          3.0
D       NaN          5.0
ew      NaN          1.0

      value  value_other
name
A       1.0          NaN
B       2.0          NaN
C       3.0          3.0
D       NaN          5.0
ew      NaN          1.0

In [12]:
df1.join(df2, how='inner', rsuffix='_other')

      value  value_other
name
C       3.0          3.0

      value  value_other
name
C       3.0          3.0

In [50]:
import numpy as np
arr = [np.ones(300),np.ones(300),np.ones(300)]
df1 = pd.DataFrame({'name': pd.Series(["A", "B", "C"]),'tick':arr})
df1.head(

)

  name                                               tick
0    A  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...
1    B  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...
2    C  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...

https://datascienceparichay.com/article/split-pandas-column-of-lists-into-multiple-columns/

In [66]:
split_df = df1['tick'].tolist()
#test.tolist()
df3 = pd.DataFrame(split_df)
f = pd.concat([df1, df3], axis=1)
f.drop('tick',axis=1,inplace=True)
f.head()

,name,0,1,2,3,4,5,6,7,8,...,290,291,292,293,294,295,296,297,298,299
0,A,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
1,B,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2,C,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0